{% extends 'backbase.html.twig' %}


{% block title %}
	Liste des Reclamation
{% endblock %}


{% block body %}


	<div class="row ">
		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">

					<h4 class="card-title">Liste des Reclamations Non repondus</h4>
					<a href="{{ path ('stat') }}" class="btn btn-success btn-fw float-right">Statistique % Sujet</a>


					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>
									Sujet
									</th>
									<th>
									Text reclamation
									</th>
									
								</tr>
							</thead>

							{% for data in list %}
								<tr>

									<td>
										{{ data.sujet }}
									</td>
									<td>
										{{ data.text_rec }}
									</td>
									
						

									<td>
										<a href="{{ path('add_reponse', {'id': data.id_reclamation}) }}"  class="btn btn-outline-success btn-fw;">
											Repondre</a>
									</td>
								</tr>

							{% endfor %}


						{% endblock %}
