{% extends 'base.html.twig' %}

{% block title %}New Trajetoffre{% endblock %}

{% block body %}
    <h1>Create new Trajetoffre</h1>

    {{ include('trajetoffre/_form.html.twig') }}

    <a href="{{ path('app_trajetoffre_index') }}">back to list</a>
{% endblock %}
