{% extends 'base.html.twig' %}

{% block title %}Liste des livreurs{% endblock %}

{% block body %}
    <div class="container">
        {{ datatable.render }}
    </div>

    <script>
        $(document).ready(function () {
            $('#{{ datatable.getName }}').DataTable({
                'serverSide': true,
                'ajax': {
                    'url': '{{ path('list_livreur') }}',
                    'type': 'POST',
                },
                'searching': true,
                'paging': false,
                'info': false,
            });
        });
    </script>
{% endblock %}
