{% extends 'backbase.html.twig' %}


{% block title %}
	Event
{% endblock %}


{% block body %}
   

	<style>
        #calendrier{
            width: 100%;
            margin: auto;

        }

		body {
			background-color: #000c20;

		}

	</style>
	<div class="categories-area section-padding30"  data-background="{{ asset('assets/img/offre/calendar.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                     
                        <h1>voici votre Calendrier d'offre :</h1>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: white;background-radius: 10px;border-radius: 10px; padding: 50px;">
                <div class="container">
         <div id="calendrier">

           </div>
    </div>
        </div>
    </div>



		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

    <script>
    window.onload = () => {
            let calendarEl = document.querySelector("#calendrier");
            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timezone: 'Europe/paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events : {{ dataop|raw }},
                editable : true,
                eventResizableFormStart : true
            })
            calendar.on('eventChange', (e) => {

                let url = `{{path('app_api_editsof',{'idd':"Re"})}}`
                url = url.replace("Re",e.event.id)

                let donnees ={


                    "title": e.event.title,
                    "start": e.event.start,
                    "end": e.event.end,





                }
                console.log(donnees);
                let xhr = new XMLHttpRequest

                xhr.open("POST", url)
                xhr.send(JSON.stringify(donnees))
            })
                                calendar.render()

    

    }
	$('.slider-services').slick({
				dots: false,
				arrows: true,
				prevArrow: '<button type="button" class="slick-prev  btn btn-light"  ><i class="ti-angle-left"></i> </button>',
				nextArrow: '<button type="button" class="slick-next  btn btn-light" > <i class="ti-angle-right"></i>  </button>',
				appendArrows:$('.slider-arrows'),
				slidesToShow: 3,

			});

    </script>  




{% endblock %}
