<form method="post" action="{{ path('app_categorieoffre_delete', {'idcatoffre': categorieoffre.idcatoffre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieoffre.idcatoffre) }}">
    <button class="btn" >Supprimer</button>
</form>
