{% extends 'backbase.html.twig' %}

{% block title %}Edit Categorieoffre{% endblock %}

{% block body %}
    <a href="{{ path('app_categorieoffre_index') }}">Retour</a>

<table class="table">
<tr>
<td  style="width:550px;">
    <h1>Modifier Categorie  :</h1>

     {{ include('categorieoffre/_form.html.twig', {'button_label': 'Modifier'}) }}

{{ include('categorieoffre/_delete_form.html.twig') }} 
    </td>
  <td style="width:550px;Font-size:250px ;  text-align: center; "> {{categorieoffre.typeoffre}}</td></tr></table>
{% endblock %}
