{% extends 'backbase.html.twig' %}


{% block title %}
	Liste des Categories 
{% endblock %}


{% block body %}



	 <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">

               <h4 class="card-title">Liste des Categories<a href=" {{ path ('add_categorie') }} " class="btn btn-success btn-fw float-right">Ajouter Categorie</a></h4>


                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Type </th>
                          
                          <th> Suppression </th>
                          <th> Modification </th>
                        </tr>
                      </thead>

                      {% for data in list %}
                        <tr>
                         
                          <td> {{ data.type }} </td>
                          
                       


                      
                         <td>
  <a href="{{ path('delete_categorie', {'id': data.idCategorie}) }}" class="btn btn-outline-danger btn-fw;">Supprimer</a>
</td>


                          <td>
                             <a href="{{ path('update_categorie', {'id': data.idCategorie}) }}"  class="btn btn-outline-warning btn-fw;"> Modifier</a>
                          </td>
                        </tr>
                          
                         {% endfor %}
                       
                         
                

{% endblock %}


